{% extends 'base.html' %}

{% block content %}
    
        <div class="header" style="width:100%; margin: 0px;"> 
            <h1>{{ app_name }}</h1>
            <p>
                A collection of items from the old, the new, and the eternal.
            </p>
        </div>

        <div class="mainInfo">
            <h3>Nama:</h3> <p>{{ name }}</p>
        </div>

        <div class="classInfo">
            <h3>Kelas:</h3> <p>{{ pbp_class }}</p>
        </div>

        <div class="inventory" style="padding-top: 20px;">
            <table border="1" cellpadding = "5" cellspacing = "5">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Increase Item</th>
                    <th>Decrease Item</th>
                    <th>Delete Item</th>
                    
                </tr>

                <h3> Amount total: {{ amount_total }} </h3>
                
                {% for thing in items %}
                <tr>
                    <td style="white-space: nowrap;">{{ thing.name }}</td>
                    <td style="white-space: nowrap;">{{ thing.amount }}</td>
                    <td style="width: 100%;">{{ thing.description }}</td>
                    <td>
                        <a href="/adjust-amount/{{thing.pk}}/1/">
                            <button class="button button1" id="adjust-btn" type="submit">+1</button>
                        </a>
                    </td>
                    
                    <td>
                        <a href="/decrease-amount/{{thing.pk}}/1/">
                            <button class="button button1" id="adjust-btn" type="submit">-1</button>
                        </a>
                    </td>
                    
                    <td>
                        <a href="/delete-item/{{thing.pk}}/">
                            <button class="button button1" id="adjust-btn" type="submit">Delete</button>
                        </a>
                    </td>
                    
                </tr>
                {% endfor %}

            </table>

            <br />

            <a href="{% url 'main:create_item' %}">
                <button class="button button1">
                    Add New Item
                </button>
            </a>

            <a href="{% url 'main:logout' %}">
                <button class="button button1">
                    Logout
                </button>
            </a>

            <h5>Sesi terakhir login: {{ last_login }}</h5>

        </div>

        <!-- Kermit -->
        <img src="https://www.seekpng.com/png/full/67-677599_kermit-the-frog.png" class="fix" width="150" height="auto"/>

    
{% endblock content %}