{% load static %}
<!DOCTYPE html>

<html>
    <link href="/static/css/mystyle.css" rel="stylesheet" />

    <head>
        <title>Sentimental Sylladex</title>
    </head>

    <body>
        <div class="header" style="width:100%; margin: 0px;"> 
            <h1>{{ app_name }}</h1>
            <p>
                A collection of items from the old, the new, and the eternal.
            </p>
        </div>

        <div class="mainInfo">
            <h3>Nama:</h3> <p>{{ name }}</p>
        </div>

        <div class="classInfo">
            <h3>Kelas:</h3> <p>{{ pbp_class }}</p>
        </div>

        <div class="inventory" style="padding-top: 20px;">
            <table border="1" cellpadding = "5" cellspacing = "5">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>

                {% for thing in items %}
                <tr>
                    <td style="white-space: nowrap;">{{ thing.name }}</td>
                    <td style="white-space: nowrap;">{{ thing.amount }}</td>
                    <td style="width: 100%;">{{ thing.description }}</td>
                </tr>
                {% endfor %}

            </table>

        </div>

        <!-- Kermit... -->
        <img src="https://www.seekpng.com/png/full/67-677599_kermit-the-frog.png" class="fix" width="150" height="auto"/>

    </body>

</html>